/**
 * Created with JetBrains WebStorm.
 * User: RD-小小WEB
 * Date: 13-9-11
 * Time: 上午10:22
 */
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;}
.newtop{}
.newslide{width:480px;height:250px;margin:0 auto;overflow:hidden;position:relative;}
.newslide ul{position:absolute;left:0;top:0;}
.newslide ul li{float:left;width:480px;height:100%;}

.newboot{width:100%;height:44px;background:#545454;position:fixed;bottom:0;left:0;}