extends layout

block content
  h1= title
  p#node Welcome to #{title}
  #bottom.container(style="position:absolute;bottom:0;width:1140px;height:50px;background:#ccc;")
  .demo
    style
      #photo-list img  {
        border: 1px solid grey;
        padding: 4px;
        margin: 8px;
      }
      .loading {
        background: transparent url(../../../../source/_static/loading.gif) no-repeat;
        width: 100px;
        height: 100px !important;
        margin: 20px;
      }
    button#fetch-btn-anim(autocomplete='off') Fetch Photo
    #photo-list





