extends layout

block content
  h1= title
  p#node Welcome to #{title}
  #bottom.container(style="position:absolute;bottom:0;width:1140px;height:50px;background:#ccc;")
  .demo
    #edit.ks-editor-textarea(style="height:100px;width:100%;")






