extends layout

block content
  form(method='post')
    input(type='text',name='user')
    input(type='password',name='password')
    input(type='submit')
  script(type="text/javascript",src="script/userjs/test.js");

